#introFormat {
  display: flex;

  height: 100%;
  width: 100%;
}
.intro {
  text-align: right;
  color: aliceblue;
  align-items: center;
  display: flex;
  justify-content: right;
  width: 100%;
  margin: 3rem;
  margin-top: 5rem;
}

#hi {
  font-size: 1.5rem;
  margin-bottom: -20px;
  color: aquamarine;
  font-family: "Mingzat", sans-serif;
}
#name {
  font-size: 7rem;
  font-family: "Mingzat", sans-serif;
  padding: -3px;
  margin: -3px;
}
.MBMTitle {
  text-align: right;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -4rem;
  color: aliceblue;
}

.pagination-additional-class {
  margin: -1rem;
  position: fixed;
  top: 16px;
  display: flex;
  justify-content: right;
  list-style-type: none;
  background-color: #282c34;

  width: 100%;
}
.pagination-additional-class > li > a {
  color: aquamarine;
  font-size: 1.5rem;
}
.pagination-additional-class > li:not(:last-of-type) > a,
.pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}
.li {
  margin: 1rem;
}
.Cards {
  margin-left: 10%;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Tasks {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.works {
  font-size: 5rem;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 75%;
  margin: 5rem;
  margin-top: -5rem;
}

.body {
  height: 100%;
  display: flex;
}
.mb-3 {
  height: fit-content;
  width: auto;

  margin: 1rem;
}
.rotate {
  display: inline-block;

  position: fixed;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: translateY(100%) rotate(-90deg);
}
.side {
  transform: rotate(180deg);
  display: flex;
}
