#introFormat {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  right: 50%;
}
.intro {
  text-align: right;
  color: aliceblue;
  width: 80%;
}

#hi {
  font-size: 1.5rem;
  margin-bottom: -20px;
  color: aquamarine;
}
#name {
  font-size: 7rem;
  font-family: "Mingzat", sans-serif;
  padding: -3px;
  margin: -3px;
}
.MBMTitle {
  text-align: right;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -4rem;
  color: aliceblue;
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: right;
  list-style-type: none;

  width: 100%;
}
.pagination-additional-class > li > a {
  color: aquamarine;
}
.pagination-additional-class > li:not(:last-of-type) > a,
.pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}

.Cards {
  margin-left: 10%;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Tasks {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.works {
  font-size: 5rem;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  width: 75%;
  margin: 5rem;
  margin-top: -5rem;
}

.body {
  height: 100%;
  display: flex;
}
.mb-3 {
  height: fit-content;
  width: auto;

  margin: 1rem;
}
